In [75]:
%pip install numpy pandas

Requirement already satisfied: numpy in c:\users\aryan\onedrive\desktop\init project\.venv\lib\site-packages (2.3.4)
Requirement already satisfied: pandas in c:\users\aryan\onedrive\desktop\init project\.venv\lib\site-packages (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aryan\onedrive\desktop\init project\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\aryan\onedrive\desktop\init project\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\aryan\onedrive\desktop\init project\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\aryan\onedrive\desktop\init project\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [76]:
import numpy as np
import pandas as pd

**Part A**

In [77]:
customers = pd.read_csv(r'C:\Users\aryan\OneDrive\Desktop\INIT PROJECT\customers.csv')
products = pd.read_csv(r'C:\Users\aryan\OneDrive\Desktop\INIT PROJECT\products.csv')
transactions = pd.read_csv(r'C:\Users\aryan\OneDrive\Desktop\INIT PROJECT\transactions.csv')

In [78]:
print('Customers csv shape: ',customers.shape)
print('Products csv shape: ',products.shape)
print('Transactions csv shape: ',transactions.shape)

Customers csv shape:  (2000, 6)
Products csv shape:  (150, 5)
Transactions csv shape:  (10015, 7)

In [79]:
print(customers.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    2000 non-null   int64
 1   customer_name  2000 non-null   object
 2   email          1947 non-null   object
 3   signup_date    2000 non-null   object
 4   country        2000 non-null   object
 5   age            1900 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 93.9+ KB
None

In [80]:
print(products.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    150 non-null    int64
 1   product_name  150 non-null    object
 2   category      147 non-null    object
 3   supplier_id   150 non-null    int64
 4   cost_price    150 non-null    float64
dtypes: float64(1), int64(2), object(2)
memory usage: 6.0+ KB
None

In [81]:
print(transactions.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10015 entries, 0 to 10014
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   transaction_id  10015 non-null  int64
 1   customer_id     10015 non-null  int64
 2   product_id      10015 non-null  int64
 3   quantity        9918 non-null   float64
 4   price           9913 non-null   float64
 5   timestamp       10015 non-null  object
 6   payment_method  9914 non-null   object
dtypes: float64(2), int64(3), object(2)
memory usage: 547.8+ KB
None

In [82]:
print('Customer Dataset:\n')
print(customers.head(3))
print('\n'*2)
print('Products Dataset:\n')
print(products.head(3))
print('\n'*2)
print('Transactions Dataset:\n')
print(transactions.head(3))

Customer Dataset:

   customer_id customer_name                  email signup_date    country  \
0            1    Customer41  customer410@yahoo.com  2022-01-28         UK
1            2     Custome41   custome411@email.com  2023-10-28     Mexico
2            3    customer41  customer412@email.com  2023-04-05  Australia

    age
0  30.0
1  29.0
2  69.0



Products Dataset:

   product_id   product_name category  supplier_id  cost_price
0           1  Product_OFF_0     Toys           28      113.16
1           2  Product_SPO_1    Books           43      166.06
2           3  Product_SPO_2    Books           47      128.13



Transactions Dataset:

   transaction_id  customer_id  product_id  quantity   price  \
0            4292          130          89       1.0  112.87
1            9107          271          98       1.0  211.90
2            7842           66          33       1.0  225.04

             timestamp payment_method
0  2024-08-17 09:13:00    Credit Card
1  2023-11-17 20:50:00         PayPal
2  2023-03-21 23:23:00  Bank Transfer

In [83]:
print('Missing values per column in Customer Dataset:')
print(customers.isnull().sum())
print('\n')
print('Missing values per column in Products Dataset:')
print(products.isnull().sum())
print('\n')
print('Missing values per column in Transactions Dataset:')
print(transactions.isnull().sum())

Missing values per column in Customer Dataset:
customer_id        0
customer_name      0
email             53
signup_date        0
country            0
age              100
dtype: int64


Missing values per column in Products Dataset:
product_id      0
product_name    0
category        3
supplier_id     0
cost_price      0
dtype: int64


Missing values per column in Transactions Dataset:
transaction_id      0
customer_id         0
product_id          0
quantity           97
price             102
timestamp           0
payment_method    101
dtype: int64

In [84]:
print('Number of duplicate entries as per "transaction_id":')
print(transactions.duplicated(subset=['transaction_id'], keep=False).sum())

Number of duplicate entries as per "transaction_id":
30

In [85]:
print(f'Date range of transactions is from {transactions['timestamp'].min()} to {transactions['timestamp'].max()}')

Date range of transactions is from 2023-01-01 00:39:00 to 2024-12-31 22:18:00

In [86]:
transactions['timestamp'] = pd.to_datetime(transactions['timestamp'])

In [87]:
transactions['Hour_of_day'] = transactions['timestamp'].dt.hour
transactions['Day_of_week'] = transactions['timestamp'].dt.day_of_week
transactions['Month'] = transactions['timestamp'].dt.month

print(transactions.head())

   transaction_id  customer_id  product_id  quantity   price  \
0            4292          130          89       1.0  112.87
1            9107          271          98       1.0  211.90
2            7842           66          33       1.0  225.04
3            3485          432          73       1.0   72.20
4            8929          248          11       1.0  315.22

            timestamp payment_method  Hour_of_day  Day_of_week  Month
0 2024-08-17 09:13:00    Credit Card            9            5      8
1 2023-11-17 20:50:00         PayPal           20            4     11
2 2023-03-21 23:23:00  Bank Transfer           23            1      3
3 2024-11-18 17:04:00           Cash           17            0     11
4 2024-09-14 19:19:00           Cash           19            5      9

**Part B**

In [88]:
# This makes sure that every instance of null value (['quantity', 'price'] is filled with the median of the 'quantity' and 'price' columns of the dataset respectively)

transactions['quantity'] = transactions['quantity'].fillna(transactions['quantity'].median())
transactions['price'] = transactions['price'].fillna(transactions['price'].median())

# Mode finds the most frequent column attributes (in this case, the most common payment method) and returns a pandas series from most frequent to least frequent attributes
# Here, ...mode[0] is used because we select the most frequent attribute from the pandas series that we have got using the mode function
transactions['payment_method'] = transactions['payment_method'].fillna(transactions['payment_method'].mode()[0])

In [89]:
transactions.isnull().sum()

transaction_id    0
customer_id       0
product_id        0
quantity          0
price             0
timestamp         0
payment_method    0
Hour_of_day       0
Day_of_week       0
Month             0
dtype: int64

In [90]:
transactions['revenue'] = transactions['quantity']*transactions['price']
transactions['revenue'].head()

0    112.87
1    211.90
2    225.04
3     72.20
4    315.22
Name: revenue, dtype: float64

In [91]:
# To ensure no data loss from the transactions table, we will apply left join

# First, lets left join transactions dataframe and customers dataframe on 'customer_id'
transactions_customers = pd.merge(transactions, customers, how='left', on='customer_id')

# Then we join the transactions_customers dataframe with the products dataframe on 'product_id
full_data = pd.merge(transactions_customers, products, how='left', on='product_id')

In [92]:
full_data['profit_margin'] = ((full_data['price'] - full_data['cost_price'])/full_data['price'])*100
full_data['profit_margin'].head()

0    47.089572
1    59.938650
2    53.959296
3    45.249307
4    59.710678
Name: profit_margin, dtype: float64

**Part C**

In [ ]:
customer_metrics = full_data.groupby('customer_id').agg(
    total_revenue = ('revenue', 'sum'),
    number_of_transactions = ('transaction_id', 'nunique'),
    average_transaction_val = ('revenue', 'mean'),
    most_frequent_purchase = ('category', lambda x : x.mode()[0])

).reset_index()

# reset_index() helps to remove customer_id as index and replaces it with random normal index

print(customer_metrics.head())

   customer_id  total_revenue  number_of_transactions  \
0            1        1424.99                       5
1            2         641.99                       3
2            3       11180.42                      30
3            4        4383.63                       8
4            5        1920.98                       5

   average_transaction_val most_frequent_purchase
0               284.998000        Food & Beverage
1               213.996667        Food & Beverage
2               372.680667             Automotive
3               547.953750                  Books
4               384.196000                 Sports

In [94]:
full_data.columns

Index(['transaction_id', 'customer_id', 'product_id', 'quantity', 'price',
       'timestamp', 'payment_method', 'Hour_of_day', 'Day_of_week', 'Month',
       'revenue', 'customer_name', 'email', 'signup_date', 'country', 'age',
       'product_name', 'category', 'supplier_id', 'cost_price',
       'profit_margin'],
      dtype='object')

In [95]:
time_based_analysis = full_data.groupby('Month').agg(
    total_revenue = ('revenue', 'sum'),
    unique_customers = ('customer_id', 'nunique'),
    average_order_value = ('revenue', 'mean'),
).reset_index()

time_based_analysis['growth_rate'] = time_based_analysis['average_order_value'].pct_change()

In [96]:
product_performance = full_data.groupby('product_name').agg(
    total_revenue = ('revenue', 'sum'),
    quantity_sold = ('quantity', 'sum'),
    profit_margin = ('price', 'mean')
).reset_index()

product_performance['profit_margin'] = product_performance['profit_margin'] - full_data.groupby('product_name')['cost_price'].mean()

top_products_revenue = product_performance.sort_values(by='total_revenue', ascending=False).head(10)
top_products_quantity_sold = product_performance.sort_values(by='quantity_sold', ascending=False).head(10)
top_products_profit_margin = product_performance.sort_values(by='profit_margin', ascending=False).head(10)

print("Top 10 Products by Total Revenue:")
print(top_products_revenue[['product_name', 'total_revenue']])
print("\nTop 10 Products by Total Quantity Sold:")
print(top_products_quantity_sold[['product_name', 'quantity_sold']])
print("\nTop 10 Products by Profit Margin:")
print(top_products_profit_margin[['product_name', 'profit_margin']])

Top 10 Products by Total Revenue:
        product_name  total_revenue
99   Product_OFF_100   95005.120000
111   Product_OFF_59   78366.194739
109   Product_OFF_47   71998.077896
50   Product_CLO_115   66416.407761
76    Product_ELE_91   65408.500000
6    Product_AUT_124   56546.750931
74    Product_ELE_74   55931.400000
3    Product_AUT_117   55178.950000
101  Product_OFF_107   54293.740000
143    Product_TOY_7   52609.010000

Top 10 Products by Total Quantity Sold:
        product_name  quantity_sold
125   Product_SPO_40         1751.0
124   Product_SPO_37         1475.0
38    Product_BOO_38         1252.0
50   Product_CLO_115         1209.0
28   Product_BOO_131         1133.0
91    Product_HOM_27         1122.0
89   Product_HOM_130         1118.0
111   Product_OFF_59         1115.0
11    Product_AUT_46         1106.0
30    Product_BOO_14          992.0

Top 10 Products by Profit Margin:
      product_name  profit_margin
0  Product_AUT_105            NaN
1  Product_AUT_111            NaN
2  Product_AUT_114            NaN
3  Product_AUT_117            NaN
4  Product_AUT_120            NaN
5  Product_AUT_122            NaN
6  Product_AUT_124            NaN
7  Product_AUT_135            NaN
8   Product_AUT_24            NaN
9   Product_AUT_31            NaN

In [97]:
latest_purchase = full_data.groupby('customer_id')['timestamp'].max().reset_index()
latest_purchase.columns = ['customer_id', 'last_purchase_date']

latest_purchase['recency'] = (pd.to_datetime('today') - latest_purchase['last_purchase_date']).dt.days

frequency = full_data.groupby('customer_id')['transaction_id'].count().reset_index()
frequency.columns = ['customer_id', 'frequency']

monetary = full_data.groupby('customer_id')['revenue'].sum().reset_index()
monetary.columns = ['customer_id', 'monetary']

rfm = pd.merge(latest_purchase[['customer_id', 'recency']], frequency[['customer_id', 'frequency']], on='customer_id')
rfm = pd.merge(rfm, monetary[['customer_id', 'monetary']], on='customer_id')

In [98]:
rfm.head()

   customer_id  recency  frequency  monetary
0            1      623          5   1424.99
1            2      341          3    641.99
2            3      341         30  11180.42
3            4      476          8   4383.63
4            5      447          5   1920.98

In [ ]:
# Assigning bins for respective columns by defining necessary ranges and it's respective labels

rfm['recency_bin'] = pd.cut(rfm['recency'], bins=[0, 30, 60, 90, 120, 9999], labels=['High', 'Medium', 'Low', 'Very Low', 'Very Low'], ordered = False)
rfm['frequency_bin'] = pd.cut(rfm['frequency'], bins=[0, 1, 3, 5, 10, 999], labels=['Low', 'Medium', 'High', 'Very High', 'Very High'], ordered = False)
rfm['monetary_bin'] = pd.cut(rfm['monetary'], bins=[0, 500, 1000, 5000, 10000, 99999], labels=['Low', 'Medium', 'High', 'Very High', 'Very High'], ordered = False)

def assign_segment(row):
    if row['recency_bin'] == 'High' and row['frequency_bin'] == 'High' and row['monetary_bin'] == 'High':
        return 'High Value'
    elif row['recency_bin'] == 'Low' and row['frequency_bin'] == 'Low' and row['monetary_bin'] == 'Low':
        return 'Low Value'
    elif row['recency_bin'] == 'Medium' and row['frequency_bin'] == 'Medium' and row['monetary_bin'] == 'Medium':
        return 'Medium Value'
    else:
        return 'Mixed'
    
    # Assigns customer value based on their recency, frequncy and monetary value
    
rfm['segment'] = rfm.apply(assign_segment, axis=1)

In [100]:
rfm.head()

,customer_id,recency,frequency,monetary,recency_bin,frequency_bin,monetary_bin,segment
0,1,623,5,1424.99,Very Low,High,High,Mixed
1,2,341,3,641.99,Very Low,Medium,Medium,Mixed
2,3,341,30,11180.42,Very Low,Very High,Very High,Mixed
3,4,476,8,4383.63,Very Low,Very High,High,Mixed
4,5,447,5,1920.98,Very Low,High,High,Mixed

In [101]:
full_data.columns

Index(['transaction_id', 'customer_id', 'product_id', 'quantity', 'price',
       'timestamp', 'payment_method', 'Hour_of_day', 'Day_of_week', 'Month',
       'revenue', 'customer_name', 'email', 'signup_date', 'country', 'age',
       'product_name', 'category', 'supplier_id', 'cost_price',
       'profit_margin'],
      dtype='object')

**Part D**

In [ ]:
# This function helps to find the suspicious transactions based on the conditions provided

def find_suspicious_transactions(full_data):

    condition_1 = (full_data['quantity'] > 100) & (full_data['price'] < 10)

    full_data['Hour_of_day'] = full_data['timestamp'].dt.hour
    
    purchase_count_per_hour = full_data.groupby(['customer_id', 'Hour_of_day']).size().reset_index(name='transaction_count')

    suspicious_customers = purchase_count_per_hour[purchase_count_per_hour['transaction_count'] > 3]

    full_data = full_data.merge(suspicious_customers[['customer_id', 'Hour_of_day']], 
                                on=['customer_id', 'Hour_of_day'], 
                                how='left', 
                                indicator=True)

    condition_2 = full_data['_merge'] == 'both'

    suspicious_mask = condition_1 | condition_2 # OR condition between condition 1 and condition 2

    suspicious_transactions = full_data[suspicious_mask]

    # .loc helps to select rows and columns by their labels

    suspicious_transactions.loc[:,'reason'] = "Quantity > 100 and Price < 10"
    suspicious_transactions.loc[condition_2, 'reason'] = "More than 3 purchases in a single hour"
    suspicious_transactions.loc[condition_1 & condition_2, 'reason'] = "Both conditions met"

    result = suspicious_transactions[['transaction_id', 'customer_name', 'reason']]

    return result

In [104]:
suspicious_df = find_suspicious_transactions(full_data)

C:\Users\aryan\AppData\Local\Temp\ipykernel_4480\4283920590.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  suspicious_transactions.loc[:,'reason'] = "Quantity > 100 and Price < 10"

In [ ]:
# rolling helps to select a certain width/slice of the dataset and perform operations on it
# For Eg: We have calculated 7_day_moving_average by applying rolling on the daily_revenue and then averaging the sum (finding the mean)

full_data['date'] = full_data['timestamp'].dt.date
daily_revenue = full_data.groupby('date')['revenue'].sum().reset_index(name = 'daily_revenue')
daily_revenue['7_day_moving_avg'] = daily_revenue['daily_revenue'].rolling(window = 7, min_periods=1).mean()
print(daily_revenue.head())

         date  daily_revenue  7_day_moving_avg
0  2023-01-01        8450.39       8450.390000
1  2023-01-02        5574.01       7012.200000
2  2023-01-03        3094.81       5706.403333
3  2023-01-04        3792.09       5227.825000
4  2023-01-05        4810.72       5144.404000

In [106]:
full_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10015 entries, 0 to 10014
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   transaction_id  10015 non-null  int64
 1   customer_id     10015 non-null  int64
 2   product_id      10015 non-null  int64
 3   quantity        10015 non-null  float64
 4   price           10015 non-null  float64
 5   timestamp       10015 non-null  datetime64[ns]
 6   payment_method  10015 non-null  object
 7   Hour_of_day     10015 non-null  int32
 8   Day_of_week     10015 non-null  int32
 9   Month           10015 non-null  int32
 10  revenue         10015 non-null  float64
 11  customer_name   10015 non-null  object
 12  email           9726 non-null   object
 13  signup_date     10015 non-null  object
 14  country         10015 non-null  object
 15  age             9516 non-null   float64
 16  product_name    10015 non-null  object
 17  category        10015 non-null  object
 18  supplier_id     10015 non-null  int64
 19  cost_price      10015 non-null  float64
 20  profit_margin   10015 non-null  float64
 21  date            10015 non-null  object
dtypes: datetime64[ns](1), float64(6), int32(3), int64(4), object(8)
memory usage: 1.6+ MB

In [ ]:
full_data['signup_date'] = pd.to_datetime(full_data['signup_date'])
first_transaction = full_data.groupby('customer_id')['timestamp'].min().reset_index() # min helps to select the earliest datetime
first_transaction.rename(columns={'timestamp': 'first_transaction_date'}, inplace=True)
first_transaction = pd.merge(first_transaction, full_data[['customer_id', 'signup_date']], on='customer_id', how='left')
first_transaction['days_since_signup'] = (first_transaction['first_transaction_date'] - first_transaction['signup_date']).dt.days

full_data = full_data.sort_values(by=['customer_id', 'timestamp'])
full_data['previous_purchase'] = full_data.groupby('customer_id')['timestamp'].shift(1)
full_data['days_between_purchases'] = (full_data['timestamp'] - full_data['previous_purchase']).dt.days

purchase_frequency = full_data.groupby('customer_id')['days_between_purchases'].mean().reset_index()
purchase_frequency.rename(columns={'days_between_purchases' : 'purchase_frequency'}, inplace = True)

category_diversity = full_data.groupby('customer_id')['category'].nunique().reset_index()
category_diversity.rename(columns={'category': 'category_diversity'}, inplace=True)

preferred_payment = full_data.groupby('customer_id')['payment_method'].agg(lambda x: x.mode()[0]).reset_index()
preferred_payment.rename(columns={'payment_method': 'preferred_payment'}, inplace=True)

customer_metrics = pd.merge(first_transaction[['customer_id', 'days_since_signup']], purchase_frequency[['customer_id', 'purchase_frequency']], on='customer_id', how='left')

customer_metrics = pd.merge(customer_metrics, category_diversity[['customer_id', 'category_diversity']], on='customer_id', how='left')

customer_metrics = pd.merge(customer_metrics, preferred_payment[['customer_id', 'preferred_payment']], on='customer_id', how='left')

In [108]:
customer_metrics.head()

,customer_id,days_since_signup,purchase_frequency,category_diversity,preferred_payment
0,1,373,93.25,3,PayPal
1,1,373,93.25,3,PayPal
2,1,373,93.25,3,PayPal
3,1,373,93.25,3,PayPal
4,1,373,93.25,3,PayPal

**Part E**

In [109]:
import time 
start_time = time.time()
result = full_data[(full_data['age'] > 25) & (full_data['country'] == 'USA')]['customer_id']
end_time = time.time()
print(f"Vectorised version duration: {(end_time-start_time)} seconds")

Vectorised version duration: 0.001628875732421875 seconds

In [110]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10015 entries, 0 to 10014
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   transaction_id  10015 non-null  int64
 1   customer_id     10015 non-null  int64
 2   product_id      10015 non-null  int64
 3   quantity        10015 non-null  float64
 4   price           10015 non-null  float64
 5   timestamp       10015 non-null  datetime64[ns]
 6   payment_method  10015 non-null  object
 7   Hour_of_day     10015 non-null  int32
 8   Day_of_week     10015 non-null  int32
 9   Month           10015 non-null  int32
 10  revenue         10015 non-null  float64
dtypes: datetime64[ns](1), float64(3), int32(3), int64(3), object(1)
memory usage: 743.4+ KB

In [111]:
def customer_lifetime_value(transactions_df, customer_id, discount_rate = 0.1):
    customer_data = transactions_df[transactions_df['customer_id'] == customer_id]
    customer_data = customer_data.sort_values(by='timestamp')
    first_purchase = customer_data['timestamp'].min()
    customer_data['month_since_first_purchase'] = ((customer_data['timestamp'] - first_purchase).dt.days)//30
    customer_data['discounted_revenue'] = customer_data['revenue']*(1- discount_rate)**customer_data['Month']

    clv = customer_data['discounted_revenue'].sum()

    return clv

a1 = customer_lifetime_value(transactions, 1)
print(a1)

969.1842326719141